@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}


.criminalsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

.criminalCard {
	border: 1px solid black;
	margin: 1rem;
	padding: .5rem;
	flex-basis: 25%;
	border-radius: 8px;
}

.glassdaleOfficers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

.officerCard {
	border: 1px solid blue;
	margin: 1rem;
	padding: .5rem;
	flex-basis: 25%;
	border-radius: 8px;
}

.notesContainer {
	display: flex;
	
}

.leftContainer {
	flex: 4
}

.noteAside {
	flex: 1;
	border: 1px solid rgb(199, 192, 192);
	padding: .5rem;
	background-color: rgb(199, 192, 192);
	border-radius: 8px;
}

