@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: var(--primary--color);
}

:root {
	--primary--color: #e9ecef;

}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}


.criminalsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

.criminalCard {
	border: 1px solid black;
	margin: 1rem;
	padding: .5rem;
	flex-basis: 25%;
	border-radius: 5px;
}

.noteCard {
 
	border: 1px solid black;
	margin: 1rem;
	padding: .5rem;
	flex-basis: 25%;
	border-radius: 5px;
}

.glassdaleOfficers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

.officerCard {
	border: 1px solid blue;
	margin: 1rem;
	padding: .5rem;
	flex-basis: 25%;
	border-radius: 5px;
}

.notesContainer {
	display: flex;
	
}

.leftContainer {
	flex: 4
}

.noteAside {
	flex: 1;
	
	padding: 0rem .5rem .5rem .5rem;
	
	border-radius: 5px;
	
}

.title {
	border: 2px solid black;
	padding: .5rem;
	border-radius: 5px;
	background-color: #ced4da;
}


button {
	border-radius: 10px;
	
}
button:focus {
	outline: 3px solid orange;
  }

.noteFormContainer {
	display: flex;
	flex-direction: column;
	margin: .25rem;
	
}

header {
	display: flex;
	justify-content: space-between;

}

input {
	margin: .5rem;
	
}
